.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    /* width: 85%; */
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #626262;
}
.nav-menu hr{
    border: none;
    width:80%;
    height: 2.3px;
    border-radius: 10px;
     background-color: #ff4141;
}
.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #333;
    visibility: hidden;
    opacity: 0;
    font-size: 25px;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 25px;
}
.nav-login-cart i{
    
    color: #333;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    background: white;
}
/* .nav-login-cart i:active{
    background: #f7f7f7;
} */
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 11px;
    font-size: 14px;
    background: #fa2222;
    color: #fff;

}
@media (max-width:799px) {
    .nav-btn{
        visibility: visible;
        opacity: 1;
        margin-right: 20px;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 300px;
        background: linear-gradient(180deg, #fde1ff, #e1ffea22 95%);
        padding: 80px 0 0 10px;
        transition: .4s;
        transform: translatey(-100vh);
    }
    .navbar .responsive_nav{
        transform: none;
    }
    .nav-login-cart{
        margin-left: auto;
    }
}    